<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="default">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="org.testcontainers" level="WARN"/>
        <logger name="com.github.dockerjava" level="WARN"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="com.wwt.webapp.userwebapp" level="DEBUG"/>
    </springProfile>
</configuration>
